*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 600px;
    width: 600px;
    border: 5px solid;
    background-color: gray;
    /* column-gap: 40px; */
    display: flex; 
    /* flex-direction: column; */
    
    align-items: center;
    /* justify-content: space-evenly; */
}
#one{
    height: 200px;
    width: 200px;
    border: 2px solid;
    background-color: red;
    /* flex-basis: 40px; */
}
#two{
    height: 200px;
    width: 200px;
    border: 2px solid;
    background-color: blue;
}